/**
* Importing by glob example
* https://github.com/maoberlehner/node-sass-magic-importer/tree/master/packages/node-sass-magic-importer#globbing
 */
:root {
  --lemonway-primary-color: #3498db;
  --lemonway-secondary-color: #2ecc71;
  --lemonway-accent-color: #e74c3c;
  --lemonway-background-color: #f5f5f5;
  --lemonway-text-color: #333333;
  --lemonway-link-color: #1abc9c;
  --lemonway-border-color: #dddddd;
  --lemonway-success-color: #28a745;
  --lemonway-warning-color: #f39c12;
  --lemonway-error-color: #e74c3c;
  --lemonway-info-color: #00bcd4;
  --lemonway-dark-background-color: #2c3e50;
  --lemonway-dark-text-color: #ecf0f1;
  --lemonway-dark-border-color: #34495e;
  --lemonway-light-background-color: #ffffff;
  --lemonway-light-text-color: #2d3436;
  --lemonway-light-border-color: #b2bec3;
}

.lemonway-text-primary {
  color: var(--lemonway-primary-color);
}

.lemonway-text-secondary {
  color: var(--lemonway-secondary-color);
}

.lemonway-text-accent {
  color: var(--lemonway-accent-color);
}

.lemonway-text-success {
  color: var(--lemonway-success-color);
}

.lemonway-text-warning {
  color: var(--lemonway-warning-color);
}

.lemonway-text-error {
  color: var(--lemonway-error-color);
}

.lemonway-text-info {
  color: var(--lemonway-info-color);
}

.lemonway-text-link {
  color: var(--lemonway-link-color);
}

.lemonway-bg-primary {
  background-color: var(--lemonway-primary-color);
}

.lemonway-bg-secondary {
  background-color: var(--lemonway-secondary-color);
}

.lemonway-bg-accent {
  background-color: var(--lemonway-accent-color);
}

.lemonway-bg-success {
  background-color: var(--lemonway-success-color);
}

.lemonway-bg-warning {
  background-color: var(--lemonway-warning-color);
}

.lemonway-bg-error {
  background-color: var(--lemonway-error-color);
}

.lemonway-bg-info {
  background-color: var(--lemonway-info-color);
}

.lemonway-bg-link {
  background-color: var(--lemonway-link-color);
}

.lemonway-bg-light {
  background-color: var(--lemonway-light-background-color);
}

.lemonway-bg-dark {
  background-color: var(--lemonway-dark-background-color);
}

.lemonway-border-primary {
  border-color: var(--lemonway-primary-color);
}

.lemonway-border-secondary {
  border-color: var(--lemonway-secondary-color);
}

.lemonway-border-accent {
  border-color: var(--lemonway-accent-color);
}

.lemonway-border-success {
  border-color: var(--lemonway-success-color);
}

.lemonway-border-warning {
  border-color: var(--lemonway-warning-color);
}

.lemonway-border-error {
  border-color: var(--lemonway-error-color);
}

.lemonway-border-info {
  border-color: var(--lemonway-info-color);
}

.lemonway-border-link {
  border-color: var(--lemonway-link-color);
}

.lemonway-border-light {
  border-color: var(--lemonway-light-border-color);
}

.lemonway-border-dark {
  border-color: var(--lemonway-dark-border-color);
}

.lemonway-text-dark {
  color: var(--lemonway-dark-text-color);
}

.lemonway-bg-dark-theme {
  background-color: var(--lemonway-dark-background-color);
}

.lemonway-border-dark-theme {
  border-color: var(--lemonway-dark-border-color);
}

.lemonway-text-light {
  color: var(--lemonway-light-text-color);
}

.lemonway-bg-light-theme {
  background-color: var(--lemonway-light-background-color);
}

.lemonway-border-light-theme {
  border-color: var(--lemonway-light-border-color);
}

.dokan-lemonway-settings-template {
  /*.form-check-input {
      position: absolute;
      margin-top: .3rem;
      margin-left: -1.25rem;
  }*/
}
.dokan-lemonway-settings-template input[type=checkbox], .dokan-lemonway-settings-template input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  margin: 0 0.3rem 0 1.5rem;
}
.dokan-lemonway-settings-template button, .dokan-lemonway-settings-template input {
  overflow: visible;
}
.dokan-lemonway-settings-template input[type=date],
.dokan-lemonway-settings-template input[type=email],
.dokan-lemonway-settings-template input[type=number],
.dokan-lemonway-settings-template input[type=password],
.dokan-lemonway-settings-template input[type=search],
.dokan-lemonway-settings-template input[type=tel],
.dokan-lemonway-settings-template input[type=text],
.dokan-lemonway-settings-template input[type=url],
.dokan-lemonway-settings-template select,
.dokan-lemonway-settings-template textarea,
.dokan-lemonway-settings-template .form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.dokan-lemonway-settings-template .form-check label, .dokan-lemonway-settings-template .form-check input {
  cursor: pointer;
}

.field-required label:after {
  content: " *";
  color: #FF0000;
}

.lemonway-datepicker.ui-datepicker {
  width: 250px; /* Adjust the popup width */
}
.lemonway-datepicker .ui-datepicker-year,
.lemonway-datepicker .ui-datepicker-month {
  display: inline-block; /* Display inline-block */
  width: 70px; /* Adjust the width as needed */
  margin-right: 1% !important; /* Optional: Add some spacing between them */
  text-align: center; /* Optional: Center the text */
}

.lemonway-hide {
  display: none;
}

.payment-field-lemonway {
  text-align: left;
  background: #ffffff;
  font-family: "Arial", "Helvetica", sans-serif;
}
.payment-field-lemonway > .dokan-form-group:first-child > label {
  display: none;
}
.payment-field-lemonway > .dokan-form-group:first-child .dokan-w6 {
  width: 100%;
}
.payment-field-lemonway label {
  color: black;
  font-weight: bolder;
}
.payment-field-lemonway + .dokan-form-group {
  display: none;
}

.dokan-dashboard .dokan-lemonway-settings-template fieldset {
  border: none;
}
.dokan-dashboard .dokan-lemonway-settings-template .navigation ul {
  padding: 0;
  display: flex;
}
.dokan-dashboard .dokan-lemonway-settings-template .navigation ul li {
  padding: 1rem 1rem;
}

.lemonway-settings-account-type-fields .form-check {
  display: inline-block;
}
.lemonway-settings-account-type-fields .form-check .form-check-label {
  font-weight: 500;
}

.lemonway-settings-company-fields {
  border: 1px solid var(--lemonway-color-border);
  padding: 0 15px;
  border-radius: 5px;
  margin-bottom: 25px;
}

/*# sourceMappingURL=frontend.css.map*/